.expr {
    font-size: 40px;
    font-weight: 700;
    padding: 10px;
    margin: 10px;
    #border: 1px solid black;
    border: 0px solid black;
    display: inline-block;
}

.navbar-title {
    padding-right: 4em;
}

.c1 {
    background-color: #B497EF;
}

.c2 {
    background-color: #E6AAE9;
}

.c3 {
    background-color: #F6C7C8
}

.c4 {
    background-color: #FAE7CB;
}

.c5 {
    background-color: #C4DBB9;
}

.c6 {
    background-color: #A9BCE5;
}


